<div class="view">
  <div class="main">
    <div class="main-content">
      <div class="section_class" *ngFor="let section of sections">
        <div class="item-head">
          <span> {{ section.htmlText }}</span>
        </div>
        <div class="item-body">
          <p>{{ company[section.dbName] }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  <div class="buttons">
    <div class="button" (click)="onUpdate()">
      <div class="fa-holder">
        <span> click to update </span>
        <fa name="edit"></fa>
      </div>
    </div>
    <div class="button" (click)="onDelete()">
      <div class="fa-holder">
        <span> click to delete </span>

        <fa name="trash"></fa>
      </div>
    </div>
  </div> -->
</div>
