<div class="add-coupon">
  <h2>Add A New Coupon</h2>
  <form (ngSubmit)="addCoupon()" [formGroup]="addCouponForm">
    <div class="form-section">
      <label for="category">Category</label>
      <select name="categoryName" id="category" formControlName="categoryName">
        <option disabled></option>
        <option value="food">Food</option>
        <option value="vacation">Vacation</option>
        <option value="electronic">Electronics</option>
      </select>
      <span
        *ngIf="
          addCouponForm.get('categoryName').touched &&
          !addCouponForm.get('categoryName').valid
        "
        class="help-text"
        >Please add a category</span
      >
    </div>

    <div class="form-section">
      <label for="description">Description</label>
      <textarea name="description" formControlName="description"></textarea>
    </div>

    <!-- #region  
      this section loops the basic input list
    -->
    <div class="form-section" *ngFor="let section of sections; let i = index">
      <label for="section.dbName">{{ section.htmlText }}</label>
      <input
        type="{{ section.inputType }}"
        formControlName="{{ section.dbName }}"
        name="{{ section.dbName }}"
      />
      <div *ngIf="isValid(i)" class="help-text">
        <span *ngIf="getSection(i).errors.required" class="help-text"
          >{{ section.htmlText }} is required</span
        >
        <span *ngIf="getSection(i).errors.minlength" class="help-text"
          >{{ section.htmlText }} needs to be at least 4 characters long</span
        >
        <span *ngIf="getSection(i).errors.email" class="help-text"
          >please enter a valid email</span
        >
        <span *ngIf="getSection(i).errors.dateBeforeNow" class="help-text"
          >please a date from today
        </span>
        <span *ngIf="getSection(i).errors.dateBeforeNow" class="help-text"
          >please a date from today
        </span>
      </div>
      <span
        *ngIf="
          section.dbName == 'endDate' &&
          getSection(i).touched &&
          checkDateError()
        "
        class="help-text"
      >
        End Date must be after start date
      </span>
    </div>

    <div class="form-section">
      <input class="submit" type="submit" value="Submit" />
    </div>
  </form>
</div>
