<div class="dashboard">
  <h1>Customer Dashboard</h1>
  <div></div>
  <app-coupons
    title="Available Coupons"
    class="customer-coup"
    usertype="customer"
    [sections]="coupSections"
    (openOne)="openOne($event, 'coupon')"
  ></app-coupons>

  <div class="purchased-coups">
    <app-coupons
      title="Purchased Coupons"
      class="customer-coup"
      usertype="customer"
      [sections]="coupSections"
      (openOne)="openOne($event, 'coupon')"
      purchased="true"
    >
    </app-coupons>
  </div>
</div>
