@import "../../../../scss/variables";

.messages {
  position: absolute;
  margin: 0 25vw;
  top: 10vh;
  width: 50vw;
  text-align: center;
  background: $primary;
  color: $white;
  font-weight: 500;
  z-index: 999;

  p {
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
  }
}
