<div class="edit">
  <h3>{{ company.name }}</h3>
  <form #f="ngForm" (ngSubmit)="updateCompany()">
    <div class="form-section">
      <label for="oldPassword">Old Password</label>
      <input
        type="password"
        name="passwordCheck"
        [(ngModel)]="oldPassword"
        required
      />
    </div>

    <div *ngIf="oldPassword == company.password" class="allowed">
      <div class="form-section">
        <label for="email">Email</label
        ><input type="email" name="email" email [(ngModel)]="company.email" />
      </div>

      <div class="form-section">
        <label for="password">Password</label
        ><input
          name="newPassword"
          type="password"
          [(ngModel)]="company.password"
        />
      </div>

      <div class="form-section">
        <input class="submit" type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
