<div class="edit">
  <h2>Edit {{ company.name }} Info</h2>
  <form (ngSubmit)="updateCompany()" [formGroup]="updateCompanyForm">
    <div class="form-section" *ngFor="let section of sections; let i = index">
      <label for="section.dbName">{{ section.htmlText }}</label>
      <input
        type="{{ section.inputType }}"
        formControlName="{{ section.dbName }}"
        name="{{ section.dbName }}"
      />
      <div *ngIf="isValid(i)" class="help-text">
        <span *ngIf="getSection(i).errors.required" class="help-text"
          >{{ section.htmlText }} is required</span
        >
        <span *ngIf="getSection(i).errors.minlength" class="help-text"
          >{{ section.htmlText }} needs to be at least 4 characters long</span
        >
        <span *ngIf="getSection(i).errors.email" class="help-text"
          >please enter a valid email</span
        >
      </div>
    </div>

    <div class="form-section">
      <input class="submit" type="submit" value="Submit" />
    </div>
  </form>
</div>
