<div class="login">
  <div class="message">
    <h2 *ngIf="error">{{ error }}</h2>
  </div>

  <h1>Couponim login</h1>

  <div class="spinner" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form
    class="form"
    #authForm="ngForm"
    (ngSubmit)="login(authForm)"
    *ngIf="!isLoading"
  >
    <div class="radio">
      <div class="radio_group" *ngFor="let type of usertypes">
        <input
          required
          [id]="type"
          class="radio_input {{ type }}_input"
          type="radio"
          name="usertype"
          [value]="type"
          [(ngModel)]="usertype"
        />
        <label [for]="type" class="radio_label">
          {{ type.toUpperCase() }}
        </label>
      </div>
    </div>

    <div class="form-group">
      <input
        type="email"
        name="email"
        class="email"
        autocomplete="off"
        placeholder="Email"
        ngModel
        email
        required
      />
      <input
        type="password"
        name="password"
        class="password"
        placeholder="Password"
        ngModel
        password
        required
      />
    </div>

    <input type="submit" [disabled]="!authForm.valid" value="submit" />
  </form>
</div>
