<div class="login">
  <h1>Couponim login</h1>

  <div class="spinner" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form class="form" #authForm="ngForm" (ngSubmit)="login(authForm)">
    <div class="radio">
      <div class="radio_group" *ngFor="let type of usertypes">
        <input
          required
          [id]="type"
          class="radio_input {{ type }}_input"
          type="radio"
          name="usertype"
          [value]="type"
          [(ngModel)]="usertype"
        />
        <label [for]="type" class="radio_label">
          {{ type.toUpperCase() }}
        </label>
      </div>
    </div>

    <div class="form-section">
      <div class="form-group">
        <input
          type="email"
          name="email"
          class="email"
          autocomplete="off"
          placeholder="Email"
          ngModel
          email
          #email="ngModel"
          required
        />
        <span *ngIf="!email.valid && email.touched"
          >Please enter a valid email</span
        >
      </div>

      <div class="form-group">
        <input
          type="password"
          name="password"
          class="password"
          placeholder="Password"
          ngModel
          password
          #password="ngModel"
          required
        />
        <span *ngIf="!password.valid && password.touched"
          >Please fill out a password</span
        >
      </div>
    </div>

    <input type="submit" value="submit" />
  </form>
</div>
