<nav>
  <h1>COUPONIM</h1>
  <div class="nav">
    <div>
      <span *ngIf="user">Welcome {{ name }} </span>
    </div>
    <div
      *ngIf="user && user.usertype != 'administrator'"
      class="fa-holder"
      (click)="openUserInfo()"
    >
      <fa name="cog"></fa>
    </div>
    <div class="fa-holder" *ngIf="user" (click)="logout()">
      <fa name="sign-out"></fa>
    </div>
  </div>
</nav>
<app-modal
  *ngIf="viewOne"
  viewType="userinfo"
  [parentType]="parentType"
  (close)="onClose()"
></app-modal>
