/* You can add global styles to this file, and also import other style files */
@import "./scss/variables";
@import "./scss/mixins/mixins";
/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
html {
  /**
  The browsers default pixel size is 16 px so if I set the font-size to 100% 
  I am telling the browser that I want my rem to be based off 16px
  but if I set the font-size in the html to 16/100 = 62.5% 
  my font sizes are then based off of 10px which is an easy number to work with
  **/
  font-size: 62.5%;
  min-height: 100vh;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  width: 100%;
  height: 100%;
  color: $black;
  background: $white;
  box-sizing: border-box;
  // background: red;
}
