$black: #333;
$lightwhite: #fdfdfd;
$white: #ededed;
$white-dark: #d0d0d0;

$primary: rgb(243, 159, 23);
$secondary: #8c0d9c;

$danger: rgb(243, 67, 23);

$boxShadow: 2px 2px 5px rgba($black, 0.3);
$borderBottom: 2px solid $primary;

$transition: all 0.3s ease-in-out;
