@import "../../../../scss/variables";

.coupon {
  padding: 2rem;
  box-shadow: $boxShadow;
  height: 50vh;
  margin-bottom: 4rem;
}
.image {
  background: $primary;
  content: "no image";
  width: 100%;
  overflow: hidden;
  height: 20rem;
  img {
    max-width: 100%;
  }
}
